@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 35%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 25%; } }

body {
  font-family: "Red Hat Text", sans-serif;
  font-weight: 700;
  background: linear-gradient(0deg, #1e1f29 72%, #fb6087 300%); }

.header {
  background: url("../images/bg-stars.svg"), linear-gradient(0deg, #fb6087 -300%, #1e1f29 40%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: bottom center;
  height: 70vh;
  position: relative; }
  .header__content {
    transform: translateX(50%);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .header__title {
    padding: 5rem 0;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    font-size: 2rem;
    letter-spacing: 10px; }
    @media only screen and (max-width: 37.5em) {
      .header__title {
        font-size: 4rem;
        text-align: center; } }
    @media only screen and (max-width: 62.5em) {
      .header__title {
        font-size: 4rem;
        text-align: center; } }
  .header__time-box {
    display: flex; }
  .header__time-card {
    width: 16rem;
    height: 16rem;
    margin: 2rem;
    position: relative;
    perspective: 300px;
    -moz-perspective: 300px; }
    .header__time-card__center {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      z-index: 9;
      transform-style: preserve-3d;
      -webkit-transform-style: preserve-3d;
      transition: transform 1s ease-out; }
      .header__time-card__center--front, .header__time-card__center--back {
        transform: rotateX(0deg);
        position: absolute;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden; }
      .header__time-card__center--back {
        transform: rotateX(180deg); }
    .header__time-card__top, .header__time-card__center--back, .header__time-card__center--front, .header__time-card__bottom {
      width: 100%;
      height: 50%;
      background-color: #343650;
      overflow: hidden; }
    .header__time-card__top, .header__time-card__center--back, .header__time-card__center--front {
      border-radius: 10px 10px 0 0; }
    .header__time-card__center--front {
      background: -webkit-radial-gradient(4em 4em, circle, transparent 0.55em, #343650 0.55em) -4em 12em; }
    .header__time-card__bottom {
      transform: translateY(100%); }
    .header__time-card__bottom, .header__time-card__center--back {
      background: -webkit-radial-gradient(2em 2em, circle, transparent 0.55em, #343650 0.55em) -2em -2em;
      border-radius: 0 0 10px 10px; }
    .header__time-card__number {
      display: block;
      color: #fb6087;
      font-size: 7rem; }
      .header__time-card__number--top {
        transform: translateY(36%); }
      .header__time-card__number--bottom {
        transform: translateY(-49%); }
    .header__time-card__div {
      width: 100%;
      height: 3px;
      position: absolute;
      top: 50%;
      left: 0;
      z-index: 10;
      background-color: transparent;
      border-top: 2px solid rgba(30, 31, 41, 0.3);
      box-shadow: 0px 1px 4px 0px rgba(132, 134, 169, 0.3); }
    .header__time-card__desc {
      font-size: 1.5rem;
      color: #8486a9;
      text-transform: uppercase;
      letter-spacing: 0.5rem; }
      @media only screen and (max-width: 37.5em) {
        .header__time-card__desc {
          font-size: 2.5rem; } }

.footer {
  height: 30vh; }
  .footer__container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("../images/pattern-hills.svg"), linear-gradient(0deg, #1e1f29 73%, #fb6087 300%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center; }
  .footer__social-icon {
    margin: 8rem 2rem;
    cursor: pointer; }
    .footer__social-icon:hover, .footer__social-icon:active {
      filter: invert(48%) sepia(99%) saturate(921%) hue-rotate(309deg) brightness(98%) contrast(100%); }
  .footer__attribution {
    color: #8486a9; }
    @media only screen and (max-width: 62.5em) {
      .footer__attribution {
        padding: 2rem 0; } }
    @media only screen and (max-width: 37.5em) {
      .footer__attribution {
        font-size: 2rem; } }
    .footer__attribution-link {
      text-decoration: none;
      color: white; }
      .footer__attribution-link:hover, .footer__attribution-link:active {
        color: #fb6087; }
