.header {
    background: url("../images/bg-stars.svg"),
        linear-gradient(
            0deg,
            $color-primary-soft-red -300%,
            $color-neutral-dark-blue 40%
        );
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: bottom center;
    height: 70vh;
    position: relative;

    &__content {
        transform: translateX(50%);
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    &__title {
        padding: 5rem 0;
        text-transform: uppercase;
        font-weight: 700;
        color: $color-neutral-white;
        font-size: 2rem;
        letter-spacing: 10px;

        @media only screen and (max-width: $bp-small) {
            font-size: 4rem;
            text-align: center;
        }

        @media only screen and (max-width: $bp-large) {
            font-size: 4rem;
            text-align: center;
        }
    }

    &__time-box {
        display: flex;
    }

    &__time {
    }

    &__time-card {
        width: 16rem;
        height: 16rem;
        margin: 2rem;
        position: relative;
        perspective: 300px;
        -moz-perspective: 300px;

        // Dots
        // &::after,
        // &::before {
        //     content: "";
        //     width: 10px;
        //     height: 10px;
        //     position: absolute;
        //     top: 47%;
        //     border: 6px solid $color-neutral-darker-blue;
        //     z-index: 10;
        //     border-radius: 50%;
        //     border-bottom-color: transparent;
        //     border-left-color: transparent;
        // }

        // &::after {
        //     left: 0;
        //     transform: translateX(-50%) rotate(45deg);
        // }

        // &::before {
        //     right: 0;
        //     transform: translateX(50%) rotate(-135deg);
        // }

        &__center {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            z-index: 9;
            transform-style: preserve-3d;
            -webkit-transform-style: preserve-3d;
            transition: transform 1s ease-in-out;

            &--front,
            &--back {
                transform: rotateX(0deg);
                position: absolute;
                backface-visibility: hidden;
                -webkit-backface-visibility: hidden;
                -moz-backface-visibility: hidden;
            }

            &--back {
                transform: rotateX(180deg);
            }
        }

        &__top,
        &__center--back,
        &__center--front,
        &__bottom {
            width: 100%;
            height: 50%;
            background-color: $color-neutral-desaturated-blue;
            overflow: hidden;
        }

        &__top,
        &__center--back,
        &__center--front {
            border-radius: 10px 10px 0 0;
        }

        &__center--front {
            background: -webkit-radial-gradient(
                    4em 4em,
                    circle,
                    transparent 0.55em,
                    $color-neutral-desaturated-blue 0.55em
                ) -4em 12em;
        }

        &__bottom {
            transform: translateY(100%);
        }

        &__bottom,
        &__center--back {
            background: -webkit-radial-gradient(
                    2em 2em,
                    circle,
                    transparent 0.55em,
                    $color-neutral-desaturated-blue 0.55em
                ) -2em -2em;
            border-radius: 0 0 10px 10px;
        }

        &__number {
            display: block;
            color: $color-primary-soft-red;
            font-size: 7rem;

            &--top {
                transform: translateY(36%);
            }

            &--bottom {
                transform: translateY(-49%);
            }
        }

        &__div {
            width: 100%;
            height: 3px;
            position: absolute;
            top: 50%;
            left: 0;
            z-index: 10;
            background-color: transparent;
            border-top: 2px solid rgba($color-neutral-dark-blue, 0.3);
            box-shadow: 0px 1px 4px 0px rgba($color-primary-grayish-blue, 0.3);
        }

        &__desc {
            font-size: 1.5rem;
            color: $color-primary-grayish-blue;
            text-transform: uppercase;
            letter-spacing: 0.5rem;

            @media only screen and (max-width: $bp-small) {
                font-size: 2.5rem;
            }
        }
    }
}
